pdfplumber
pypdf
tiktoken
openai
pinecone
rank-bm25
python-dotenv
tqdm
pandas
numpy
langchain
langchain-openai
langchain-community
langchain-pinecone
cohere
requests
docling
ragas
langchain-google-vertexai